<body background="../../assets/images/bb6.jpg">
    <div class="container">
        <div class="row">
            <app-user-profile-details class="col-md-3 transparent-background"></app-user-profile-details>
            <app-single-user-photos class="col-md-4 transparent-background"></app-single-user-photos>
            <app-single-user-posts [events]="eventsSubject.asObservable()" class="col-md-4 transparent-background"></app-single-user-posts>
        </div>
        <div class="row">

            <div class="col-md-3 component-button transparent-background">
                <h5>Create New Blog Post!</h5>
                <Button routerLink="/newblogpost">New Blog Post</Button>
            </div>
            <div class="col-md-4 component-button transparent-background">
                <app-picture-upload></app-picture-upload>
            </div>
            <div class="col-md-4 component-button transparent-background">
                <div><span>Find User: </span>    </div>
                <div>
                    <label>
                        <input [(ngModel)]="this.selectedUser.username" placeholder="Username" name="selected-username" />
                    </label>
                </div>
                <button (click)="onSearch(this.selectedUser)">Search</button>
            </div>
        </div>

    </div>

</body>