<body background="../../assets/images/bb4.jpg">
    
    <div class="container">
        <div class="post-form">
            <!-- <h1>Blog Post!</h1>
            <label class="section-title">
                <h5>New Blog Post</h5>
            </label> -->
            
            <h3>
                <div class><span>Title: </span></div>
            </h3>
            <br>
            <div>
                <label>
                    <input [(ngModel)]="this.post.title" placeholder="subject" name="title" required minlength="3"/>
                </label>
            </div>
            <br><br>
            <h3>
                <div class><span>Post: </span></div>
            </h3>
            <div id="body">
                <label>
                </label>
                <textarea class="form-control" rows="10" [(ngModel)]="this.post.content" name="content" required minlength="3"></textarea>
            </div>
            <br><br>
            <div>
                <button (click)="onSubmit()">Submit Post</button>
            </div>
         </div>   
    </div>
</body>