<div id="member-info-container">
    <div id="picture-name-container">
        <!-- <img src=""> -->
        <h1>Nick Carter</h1>
        <div id="band-member-link-container">
            <p>
                <a routerLink="">Brian Littrell</a>
                <a routerLink="">Howie Dorough</a>
                <a routerLink="">AJ McLean</a>
                <a routerLink="">Kevin Richardson</a>
            </p>
        </div>
    </div>
    <div id="member-bio-container">
        <!-- <div *ngIf="">

            <h2>{{hero.name | uppercase}} Details</h2>
            <div><span>id: </span>{{hero.id}}</div>
            <div>
                <label>name:
                    <input [(ngModel)]="hero.name" placeholder="name" />
                </label>
            </div>
            <button (click)="goBack()">go back</button>
            <button (click)="save()">save</button>
        </div> -->
    </div>
</div>