.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    /* white-space: nowrap; */
    margin-left: 160px;
}

.p {
    overflow-y: auto;
    overflow-wrap: normal;
}

.card-deck>div {
    width: 400;
    height: 250;
    max-width: 550px;
    background-color: rgba(119, 136, 153, 0.747);
    margin-top: 100px;
    border: 1px solid black;
    margin: 10px;
}

img {
    max-height: 100%;
}
