<div class="scrolling-wrapper">
    <div class="card-deck">
        <div class="card border-dark mb-3" style="max-width: 540px; background-color: lightslategray;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="assets\aj2.bmp" class="card-img" width="1000" height="250">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">A.J. McLean</h5>
                        <p class="card-text">Alexander James McLean (born January 9, 1978) is an American singer, songwriter, actor, dancer, and model. He is a member of the vocal group the Backstreet Boys. McLean is also a contributor for the It Gets Better Project. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 540px; background-color: lightslategray;">
            <div class="row no-gutters">
                <div class="col-xl-4">
                    <img src="assets\how.bmp" class="card-img" alt="..." width="300" height="250">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">Howie Dorough</h5>
                        <p class="card-text">Howard Dwaine Dorough (born August 22, 1973) is an American singer, songwriter, and actor. He is best known as a member of American music group Backstreet Boys. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 540px; background-color: lightslategray;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="assets\nick.bmp" class="card-img" alt="card-img-top" alt="..." width="300" height="250">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">Nickolas Gene Carter</h5>
                        <p class="card-text">Nickolas Gene Carter (born January 28, 1980) is an American musician, singer and actor. He is best known as a member of the pop group the Backstreet Boys. As of 2015, Carter has released three solo albums, Now or Never, I'm Taking
                            Off and All American during breaks between Backstreet Boys schedules, and a collaboration with Jordan Knight titled Nick & Knight. He has made occasional television appearances and starred in his own reality shows, House of
                            Carters and I (Heart) Nick Carter. He gained fame in the mid 1990s and early 2000s as a teen idol. He is also the older brother of singer Aaron Carter. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 540px; background-color: lightslategray;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="assets\kevin.jpg" class="card-img" alt="card-img-top" alt="...">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">Kevin Richardson</h5>
                        <p class="card-text">Kevin Scott Richardson (born October 3, 1971) is an American singer, songwriter, actor and model, best known as a member of the Backstreet Boys. Richardson was inducted into the Kentucky Music Hall of Fame along with his cousin
                            and bandmate Brian Littrell on April 10, 2015. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-dark mb-3" style="max-width: 540px; background-color: lightslategray;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="assets\brian.jpg" class="card-img" alt="card-img-top" alt="...">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">Brian Littrell</h5>
                        <p class="card-text">Brian Thomas Littrell (born February 20, 1975) is an American singer, songwriter and actor, best known as a member of the Backstreet Boys. He is also a CCM singer and released a solo album, Welcome Home, in 2006. Brian has had
                            five top 20 solo singles on the Christian charts in the US. On April 10, 2015, Littrell was inducted into the Kentucky Music Hall of Fame along with his cousin and bandmate Kevin Richardson.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
