<div id="mySidenav" class="sidenav container">
    <a routerLink="login">Login</a>
    <a routerLink="register">Register</a>
    <a *ngIf="this.loggedIn" routerLink="profile" id="profile-button" (click)="changeLogin()">Profile</a>
    <a routerLink="articles" id="articles-button">Articles</a>
    <a routerLink="members" id="member-button">Members</a>
    <a routerLink="popular" id="popular-button">Popular</a>
    <a routerLink="photos" id="photos-button">Photos</a>
    <a routerLink="blog-posts" fragment="#section6" id="blogs-button">Blogs</a>
    <a routerLink="location" id="location-button">Bungalow</a>
  </div>