.container{
    margin-left: 34%;
    padding: 15px;
    width: 25%;
}
.container.row {
    width: 50%;
}
.header-form-container {
    margin-left: 4%;
    width: 100%;
}
.login {
    background-color: rgba(77, 75, 75, 0.767);
    margin-top: 50px;
    padding: 25px;
}
.login input {
    margin-bottom: 20px;
    display: block;
}

.heading {
    padding: 0% 15%;
    color: rgb(240, 235, 235);
    background-color: rgba(77, 75, 75, 0.767);
    margin: 0% 25%
}

h5 {
    color: rgb(240, 235, 235);
    padding-left: 5px;
}

.jumbotron {
    background:  rgba(77, 75, 75, 0.767);
    text-align: center;
    color: white;
}

.row {
    margin-left: 22%;
}