<!-- <app-header></app-header> -->
<!-- <app-sidebar></app-sidebar> -->
<div id="section1">
    <app-user-profile></app-user-profile>
</div>
<div id="section2">
    <app-latest-articles></app-latest-articles>
</div>
<div id="section3">
    <app-member-section></app-member-section>
</div>
<div id="section4">
    <app-popular-section></app-popular-section>
</div>
<div id="section5">
    <app-latest-photos></app-latest-photos>
</div>
<div id="section6">
    <app-latest-blog-posts></app-latest-blog-posts>
</div>
<div id="section7">
    <app-location></app-location>
</div>
<div id="section8">
    <app-footer></app-footer>
</div>