<app-sidebar></app-sidebar>


<router-outlet></router-outlet>

<!-- <div id="section2">
    <app-latest-articles></app-latest-articles>
</div>
<div id="section3">
    <app-member-section></app-member-section>
</div>
<div id="POPULAR">
    <app-popular-section></app-popular-section>
</div>
<div id="section5">
    <app-latest-photos></app-latest-photos>
</div>
<div id="section6">
    <app-latest-blog-posts></app-latest-blog-posts>
</div>
<div id="section7">
    <app-location></app-location>
</div>
<div id="section8">
    <app-footer></app-footer>
</div> -->