<body background="../../assets/images/bb5.jpg">
        <section class="card">            
            <div class="card--content">
                <h1>LATEST PHOTOS!</h1>
            </div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
        </section>

</body>