<div>
    <h2>{{user.first_name | uppercase}} {{user.last_name | uppercase}} Details</h2>
    <div><span>ID: </span>{{user.id}}</div>
    <div><span>First Name: </span>{{user.first_name}}</div>
    <div>
        <label>
            <input [(ngModel)]="user.first_name" placeholder="firstname"/>
        </label>
    </div>
    <div><span>Last Name: </span>{{user.last_name}}</div>
    <div>
        <label>
            <input [(ngModel)]="user.last_name" placeholder="lastname"/>
        </label>
    </div>
    <div><span>Username: </span>{{user.username}}</div>
    <div>
        <label>
            <input [(ngModel)]="user.username" placeholder="username"/>
        </label>
    </div>
    <div><span>Email: </span>{{user.email}}</div>
    <div>
        <label>
            <input [(ngModel)]="user.email" placeholder="email"/>
        </label>
    </div>
    <button (click)="save(this.user)">Save</button>

</div>