<body background="../../assets/images/bb6.jpg">
    <div class="container">
        <h1>Enter Details Below!</h1>
        
        <div><span>First Name: </span>{{user.first_name}}</div>
        <div>
            <label>
                <input [(ngModel)]="this.user.firstName" placeholder="firstname" name="firstName" required/>
            </label>
        </div>
        <div><span>Last Name: </span>{{user.last_name}}</div>
        <div >
            <label>
                <input [(ngModel)]="this.user.lastName" placeholder="lastname" name="lastName" required/>
            </label>
        </div>
        <div><span>Email: </span>{{user.email}}</div>
        <div>
            <label>
                <input [(ngModel)]="this.user.email" placeholder="email" name="email" required minlength="7"/>
            </label>
        </div>
        <div><span>Username: </span>{{user.username}}</div>
        <div>
            <label>
                <input [(ngModel)]="this.user.username" placeholder="username" name="username" required/>
            </label>
        </div>
        <div><span>Enter Password: </span></div>
        <div>
            <label>
                <input [(ngModel)]="this.user.password" placeholder="Create Password" name="password" type="password" required/>
            </label>
        </div>
        
        <button (click)="onSubmit()">Save</button>

    </div>
</body>