<body background="../../assets/images/bb4.jpg">
        <section class="card">            
            <div class="card--content" id="map-container">
                <!-- this creates a google map on the page with the given lat/lng from -->
                <!-- the component as the initial center of the map: -->
                <agm-map [latitude]="38.953546" [longitude]="-77.350469" [zoom]=15>
                    <agm-marker [latitude]="38.953546" [longitude]="-77.350469"></agm-marker>
                </agm-map>
            </div>
            <div class="card--content" id="map-info-container">
                <h1>Backstreet Bungalow</h1>
                <h3>
                    Meeting times: Every Tuesday @ 7pm
                </h3>
                <h3>
                    11730 Plaza America Dr 2nd Floor, Reston, VA 20190
                </h3>
            </div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
        </section>

</body>