<body background="../../assets/images/bb8.jpg">
    <div class="">
        <section>
            <div style="border: 5px dashed black; background-color: rgba(119, 136, 153, 0.753); ">
                <h1 style="text-align: center;">The Backstreet Boys</h1>
            </div>
            <div>
                <app-member-info></app-member-info>
            </div>
            <div style="border: 5px dashed black; background-color: rgba(119, 136, 153, 0.753); ">
                <h1 style="text-align: center;">Backstreet Boys Albums</h1>
            </div>
            <div>
                <app-music-info></app-music-info>
            </div>

        </section>
    </div>
</body>