<body background="../../assets/images/bb1.jpg">
    <div class="container">

        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab *ngFor="let post of posts" label="{{post.id}}">
                            <br>
                            <h1>{{post.title}}</h1>
                            <h5>Published by: {{post.username}}</h5>
                            <br>
                            <p>{{post.content}}</p>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>

        </div>

    </div>

</body>