<body background="../../assets/images/bb1.jpg">
    <div class="container">

        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <mat-tab-group>
                        <mat-tab label="1">
                            <br>
                            <h1>Title of Blog Post</h1>
                            <h5>Published by: username</h5>
                            <br>
                            <p>
                                Education Minnesota Worthington is a teacher's union who wrote a letter to the district,
                                saying all students should be treated with dignity and feel welcome.

                                Jessica Velasco, a lead organizer from Greater Minnesota, says the bus driver's
                                statement is something they've heard before.

                                It's national, and it's publicly posted," she said. "So, for us people of color, it
                                honestly was like a sigh of relief because we can say, 'see we're not crazy. This is
                                real."

                                Now the union is asking the district to renegotiate the bus contract. The group would
                                like paraprofessionals on every bus and culture responsiveness training for all of the
                                bus drivers.

                                "The reality comes down to whether it's our employees or their employees offering
                                training, development of understanding, and understanding individuals that exist not
                                necessarily in our district, but the world," Landgaard said.

                                "The students and family members are very disgusted because if it was the other way
                                around, there would have been severe consequences," Velasco said. "Because even if he
                                was not an employee, he still represents the district."

                                Some community members say this isn't the way they wanted their city to be portrayed on
                                a national stage.

                                "We have nothing but positive things to say about the diversity in our community," Stacy
                                Smith, a resident, said. "And we love Worthington and all it has to offer, and we're all
                                better for it."

                                "We want the entire community to see we are talking, and we are ready. We are starting
                                to build a community to start addressing these issues," Velasco said.

                                Worthington students held signs outside the district office, asking the superintendent
                                to change the contract. According to Velasco, students who rode that bus said they
                                thought their bus driver was grumpy, but with the comments published in the Washington
                                Post, they say it makes sense why.

                                The Worthington School District does have standard policies in place to address the
                                issues of racism. Superintendent Landgaard says 65% of the student body is considered
                                diverse.
                            </p>
                        </mat-tab>
                        <mat-tab label="2">
                            <br>
                            <h1>Title of Blog Post</h1>
                            <h5>Published by: username</h5>
                            <br>
                            <p>
                                Education Minnesota Worthington is a teacher's union who wrote a letter to the district,
                                saying all students should be treated with dignity and feel welcome.

                                Jessica Velasco, a lead organizer from Greater Minnesota, says the bus driver's
                                statement is something they've heard before.

                                It's national, and it's publicly posted," she said. "So, for us people of color, it
                                honestly was like a sigh of relief because we can say, 'see we're not crazy. This is
                                real."

                                Now the union is asking the district to renegotiate the bus contract. The group would
                                like paraprofessionals on every bus and culture responsiveness training for all of the
                                bus drivers.

                                "The reality comes down to whether it's our employees or their employees offering
                                training, development of understanding, and understanding individuals that exist not
                                necessarily in our district, but the world," Landgaard said.

                                "The students and family members are very disgusted because if it was the other way
                                around, there would have been severe consequences," Velasco said. "Because even if he
                                was not an employee, he still represents the district."

                                Some community members say this isn't the way they wanted their city to be portrayed on
                                a national stage.

                                "We have nothing but positive things to say about the diversity in our community," Stacy
                                Smith, a resident, said. "And we love Worthington and all it has to offer, and we're all
                                better for it."

                                "We want the entire community to see we are talking, and we are ready. We are starting
                                to build a community to start addressing these issues," Velasco said.

                                Worthington students held signs outside the district office, asking the superintendent
                                to change the contract. According to Velasco, students who rode that bus said they
                                thought their bus driver was grumpy, but with the comments published in the Washington
                                Post, they say it makes sense why.

                                The Worthington School District does have standard policies in place to address the
                                issues of racism. Superintendent Landgaard says 65% of the student body is considered
                                diverse.
                            </p>
                        </mat-tab>
                        <mat-tab label="3">
                            <br>
                            <h1>Title of Blog Post</h1>
                            <h5>Published by: username</h5>
                            <br>
                            <p>
                                Education Minnesota Worthington is a teacher's union who wrote a letter to the district,
                                saying all students should be treated with dignity and feel welcome.

                                Jessica Velasco, a lead organizer from Greater Minnesota, says the bus driver's
                                statement is something they've heard before.

                                It's national, and it's publicly posted," she said. "So, for us people of color, it
                                honestly was like a sigh of relief because we can say, 'see we're not crazy. This is
                                real."

                                Now the union is asking the district to renegotiate the bus contract. The group would
                                like paraprofessionals on every bus and culture responsiveness training for all of the
                                bus drivers.

                                "The reality comes down to whether it's our employees or their employees offering
                                training, development of understanding, and understanding individuals that exist not
                                necessarily in our district, but the world," Landgaard said.

                                "The students and family members are very disgusted because if it was the other way
                                around, there would have been severe consequences," Velasco said. "Because even if he
                                was not an employee, he still represents the district."

                                Some community members say this isn't the way they wanted their city to be portrayed on
                                a national stage.

                                "We have nothing but positive things to say about the diversity in our community," Stacy
                                Smith, a resident, said. "And we love Worthington and all it has to offer, and we're all
                                better for it."

                                "We want the entire community to see we are talking, and we are ready. We are starting
                                to build a community to start addressing these issues," Velasco said.

                                Worthington students held signs outside the district office, asking the superintendent
                                to change the contract. According to Velasco, students who rode that bus said they
                                thought their bus driver was grumpy, but with the comments published in the Washington
                                Post, they say it makes sense why.

                                The Worthington School District does have standard policies in place to address the
                                issues of racism. Superintendent Landgaard says 65% of the student body is considered
                                diverse.
                            </p>
                        </mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                    </mat-tab-group>
                </div>
            </div>

        </div>

    </div>

</body>