<body background="../../assets/images/bb1.jpg">
    <div class="container">
        <section class="card">            
            <div class="card--content">
                <h1>LATEST BLOG POSTS!</h1>
            </div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
            <div class="card--content"></div>
        </section>
    </div>
</body>