<div class="container">
        <div class="column-header">
            <h2 *ngIf="!this.currentUser.validSelectedUser">
                Your Photos!
            </h2>
            <h2 *ngIf="this.currentUser.validSelectedUser">
                {{this.currentUser.selectedUser.username}}'s Photos!
            </h2>
        </div>
        
        <div class="posts-container">
            <div *ngFor="let photo of photos">
                <div>
                    <p>{{photo.content}}</p>
                </div>
            </div>
        </div>
    </div>