<div class="scrolling-wrapper">
    <div class="card-deck" style="display: inline-flexbox;">
        <div class="card" style='width: 18rem; background-color: lightslategray;'>
            <img src="\assets\alb1.bmp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Backstreet Boys (1996)</h5>
                <!-- <p class="card-text"></p> -->
            </div>
        </div>

        <div class="card" style='width: 18rem; background-color: lightslategray;'>
            <img src="\assets\alb2.bmp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Backstreet's Back (1997)</h5>
                <!-- <p class="card-text"></p> -->
            </div>
        </div>

        <div class="card" style='width: 18rem; background-color: lightslategray;'>
            <img src="\assets\alb3.bmp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Millennium (1999)</h5>
                <!-- <p class="card-text"></p> -->
            </div>
        </div>

        <div class="card" style='width: 18rem; background-color: lightslategray;'>
            <img src="\assets\alb4.bmp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Black & Blue (2000)</h5>
                <!-- <p class="card-text"></p> -->
            </div>
        </div>

        <div class="card" style='width: 18rem; background-color: lightslategray;'>
            <img src="\assets\alb5.bmp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Never Gone (2005)</h5>
                <!-- <p class="card-text"></p> -->
            </div>
        </div>

        <div class="card" style='width: 18rem; background-color: lightslategray;'>
            <img src="\assets\alb6.bmp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Unbreakable (2007)</h5>
                <!-- <p class="card-text"></p> -->
            </div>
        </div>

        <div class="card" style='width: 18rem; background-color: lightslategray;'>
            <img src="\assets\alb7.bmp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">This Is Us (2009)</h5>
                <!-- <p class="card-text"></p> -->
            </div>
        </div>

        <div class="card" style='width: 18rem; background-color: lightslategray;'>
            <img src="\assets\alb8.bmp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">In a World Like This (2013)</h5>
                <!-- <p class="card-text"></p> -->
            </div>
        </div>

        <div class="card" style='width: 18rem; background-color: lightslategray;'>
            <img src="\assets\alb9.bmp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">DNA (2019)</h5>
                <!-- <p class="card-text"></p> -->
            </div>
        </div>
    </div>
</div>
